.faq {
    width: 80%;
    border-bottom: 1px solid silver;
    padding: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.faq:last-of-type {
    border-bottom: 0;
    margin-bottom: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    color: hsl(292, 42%, 14%);
    font-weight: bold;
    cursor: pointer;
}

.title:hover {
    color: hsl(292, 70%, 39%);
}

.open-btn {
    align-self: last baseline;
}

.answer {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    color: hsl(292, 16%, 49%);
}

.answer-open {
    max-height: 150px;
    margin-bottom: 20px;
}
